<h1>BURGER ME APP</h1>

<h2>CREATE AND DEVOUR BURGERS WITH THIS APP</h2>



<main>
    <div class="container" id="created_burger">
        <div class="row">
            <div class="col s4">
                <div>
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <li>
                            <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                                <p> {{this.id}}</p>
                                <p> {{this.burger_name}}</p>
                                <p> {{this.b_description}}</p>
                                <button type="submit" data-id="{{devoured}}" class="delburger">DEVOUR!!</button>
                        </li>
                        </form>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" id="devoured_burgers">
            <div class="col s4">
                <h3>Devoured Burgers</h3>
                <ul>
                    {{#each burgers}} {{#if devoured}}
                    <div class="burgers_devoured">
                        {{this.burger_name}}
                    </div>
                    {{/if}}
                    {{/each}}

                </ul>
            </div>
        </div>
</main>

<h3>Add A Burger Here</h3>

<div class="row">
    <div class="col s4">
        <form action="/burgers" method="POST">
            <button type="submit" class="addBurgerButton">Add a Burger</button>
            <input type="text" id="name" name="burger_name" class="addburger" placeholder="Add a Burger">
            {{!-- <textarea id="desc" name="description" rows="8" cols="40"></textarea> --}}
        </form>
    </div>
</div>

</main>